button{
  font-weight: bold;
}

.main-container{
  height: calc(100dvh - 56px);
  width: 100%;
  background-image: url("../../../../assets/images/blue-wave2.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
