/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Quicksand',Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Quicksand', "Helvetica Neue", sans-serif; }
